<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>

    <section class="hero is-warning">
    <div class="hero-body">
        <center>
            <p class="title">
                BA Auto Config
            </p>
            <p class="subtitle">
                A tool for automatically generating config scripts for devices on the BA network
            </p>
            <a class="button is-link is-responsive is-outlined is-rounded" href="/">Dynamic Config</a>  <a class="button is-link is-responsive is-outlined is-rounded" href="static/static_config.html">Static Config</a>

        </center>
    </div>
    </section>

    <div class="container" style="width: 50%; padding-top: 3vh">
    <form>
    
        <div class="columns">
            <div class="column is-one-half">
                <label for="set groups sylog-defaults system syslog host <*> daemon info
">set groups sylog-defaults system syslog host <*> daemon info
: </label>
            </div>
            <div class="column">
                <div class="field">
                    <p class="control">
                        <input class="input is-primary" type="text" id="set groups sylog-defaults system syslog host <*> daemon info
" name="set groups sylog-defaults system syslog host <*> daemon info
">
                    </p>
                </div>
            </div>
        </div>
        
        <div class="columns">
            <div class="column is-one-half">
                <label for="set groups sylog-defaults system syslog host <*> pfe any
">set groups sylog-defaults system syslog host <*> pfe any
: </label>
            </div>
            <div class="column">
                <div class="field">
                    <p class="control">
                        <input class="input is-primary" type="text" id="set groups sylog-defaults system syslog host <*> pfe any
" name="set groups sylog-defaults system syslog host <*> pfe any
">
                    </p>
                </div>
            </div>
        </div>
        
        <div class="columns">
            <div class="column is-one-half">
                <label for="set groups sylog-defaults system syslog host <*> kernel any
">set groups sylog-defaults system syslog host <*> kernel any
: </label>
            </div>
            <div class="column">
                <div class="field">
                    <p class="control">
                        <input class="input is-primary" type="text" id="set groups sylog-defaults system syslog host <*> kernel any
" name="set groups sylog-defaults system syslog host <*> kernel any
">
                    </p>
                </div>
            </div>
        </div>
        
        <div class="columns">
            <div class="column is-one-half">
                <label for="set groups sylog-defaults system syslog host <*> autorization any
">set groups sylog-defaults system syslog host <*> autorization any
: </label>
            </div>
            <div class="column">
                <div class="field">
                    <p class="control">
                        <input class="input is-primary" type="text" id="set groups sylog-defaults system syslog host <*> autorization any
" name="set groups sylog-defaults system syslog host <*> autorization any
">
                    </p>
                </div>
            </div>
        </div>
        
        <div class="columns">
            <div class="column is-one-half">
                <label for="set groups sylog-defaults system syslog host <*> change-log any
">set groups sylog-defaults system syslog host <*> change-log any
: </label>
            </div>
            <div class="column">
                <div class="field">
                    <p class="control">
                        <input class="input is-primary" type="text" id="set groups sylog-defaults system syslog host <*> change-log any
" name="set groups sylog-defaults system syslog host <*> change-log any
">
                    </p>
                </div>
            </div>
        </div>
        
        <div class="columns">
            <div class="column is-one-half">
                <label for="set groups sylog-defaults system syslog host <*> conflict-log any
">set groups sylog-defaults system syslog host <*> conflict-log any
: </label>
            </div>
            <div class="column">
                <div class="field">
                    <p class="control">
                        <input class="input is-primary" type="text" id="set groups sylog-defaults system syslog host <*> conflict-log any
" name="set groups sylog-defaults system syslog host <*> conflict-log any
">
                    </p>
                </div>
            </div>
        </div>
        
        <div class="columns">
            <div class="column is-one-half">
                <label for="set groups sylog-defaults system syslog host <*> dfc any
">set groups sylog-defaults system syslog host <*> dfc any
: </label>
            </div>
            <div class="column">
                <div class="field">
                    <p class="control">
                        <input class="input is-primary" type="text" id="set groups sylog-defaults system syslog host <*> dfc any
" name="set groups sylog-defaults system syslog host <*> dfc any
">
                    </p>
                </div>
            </div>
        </div>
        
        <div class="columns">
            <div class="column is-one-half">
                <label for="set groups sylog-defaults system syslog host <*> firewall any
">set groups sylog-defaults system syslog host <*> firewall any
: </label>
            </div>
            <div class="column">
                <div class="field">
                    <p class="control">
                        <input class="input is-primary" type="text" id="set groups sylog-defaults system syslog host <*> firewall any
" name="set groups sylog-defaults system syslog host <*> firewall any
">
                    </p>
                </div>
            </div>
        </div>
        
        <div class="columns">
            <div class="column is-one-half">
                <label for="set groups sylog-defaults system syslog host <*> facility-override local1
">set groups sylog-defaults system syslog host <*> facility-override local1
: </label>
            </div>
            <div class="column">
                <div class="field">
                    <p class="control">
                        <input class="input is-primary" type="text" id="set groups sylog-defaults system syslog host <*> facility-override local1
" name="set groups sylog-defaults system syslog host <*> facility-override local1
">
                    </p>
                </div>
            </div>
        </div>
        
        <div class="columns">
            <div class="column is-one-half">
                <label for="set groups sylog-defaults system syslog host <*> explicit-priority
">set groups sylog-defaults system syslog host <*> explicit-priority
: </label>
            </div>
            <div class="column">
                <div class="field">
                    <p class="control">
                        <input class="input is-primary" type="text" id="set groups sylog-defaults system syslog host <*> explicit-priority
" name="set groups sylog-defaults system syslog host <*> explicit-priority
">
                    </p>
                </div>
            </div>
        </div>
        
        <div class="columns">
            <div class="column is-one-half">
                <label for="set system host-name ############## -------------------> HOSTNAME
">set system host-name ############## -------------------> HOSTNAME
: </label>
            </div>
            <div class="column">
                <div class="field">
                    <p class="control">
                        <input class="input is-primary" type="text" id="set system host-name ############## -------------------> HOSTNAME
" name="set system host-name ############## -------------------> HOSTNAME
">
                    </p>
                </div>
            </div>
        </div>
        
        <div class="columns">
            <div class="column is-one-half">
                <label for="set system login retry-options tries-before-disconnect 3
">set system login retry-options tries-before-disconnect 3
: </label>
            </div>
            <div class="column">
                <div class="field">
                    <p class="control">
                        <input class="input is-primary" type="text" id="set system login retry-options tries-before-disconnect 3
" name="set system login retry-options tries-before-disconnect 3
">
                    </p>
                </div>
            </div>
        </div>
        
        <div class="columns">
            <div class="column is-one-half">
                <label for="set system login class operator-local permissions clear
">set system login class operator-local permissions clear
: </label>
            </div>
            <div class="column">
                <div class="field">
                    <p class="control">
                        <input class="input is-primary" type="text" id="set system login class operator-local permissions clear
" name="set system login class operator-local permissions clear
">
                    </p>
                </div>
            </div>
        </div>
        
        <div class="columns">
            <div class="column is-one-half">
                <label for="set system login class operator-local permissions network
">set system login class operator-local permissions network
: </label>
            </div>
            <div class="column">
                <div class="field">
                    <p class="control">
                        <input class="input is-primary" type="text" id="set system login class operator-local permissions network
" name="set system login class operator-local permissions network
">
                    </p>
                </div>
            </div>
        </div>
        
        <div class="columns">
            <div class="column is-one-half">
                <label for="set system login class operator-local permissions reset
">set system login class operator-local permissions reset
: </label>
            </div>
            <div class="column">
                <div class="field">
                    <p class="control">
                        <input class="input is-primary" type="text" id="set system login class operator-local permissions reset
" name="set system login class operator-local permissions reset
">
                    </p>
                </div>
            </div>
        </div>
        
        <div class="columns">
            <div class="column is-one-half">
                <label for="set system login class operator-local permissions trace
">set system login class operator-local permissions trace
: </label>
            </div>
            <div class="column">
                <div class="field">
                    <p class="control">
                        <input class="input is-primary" type="text" id="set system login class operator-local permissions trace
" name="set system login class operator-local permissions trace
">
                    </p>
                </div>
            </div>
        </div>
        
        <div class="columns">
            <div class="column is-one-half">
                <label for="set system login class operator-local permissions view
">set system login class operator-local permissions view
: </label>
            </div>
            <div class="column">
                <div class="field">
                    <p class="control">
                        <input class="input is-primary" type="text" id="set system login class operator-local permissions view
" name="set system login class operator-local permissions view
">
                    </p>
                </div>
            </div>
        </div>
        
        <div class="columns">
            <div class="column is-one-half">
                <label for="set system login class operator-local permissions view-configuration
">set system login class operator-local permissions view-configuration
: </label>
            </div>
            <div class="column">
                <div class="field">
                    <p class="control">
                        <input class="input is-primary" type="text" id="set system login class operator-local permissions view-configuration
" name="set system login class operator-local permissions view-configuration
">
                    </p>
                </div>
            </div>
        </div>
        
        <div class="columns">
            <div class="column is-one-half">
                <label for="set system radius-server 172.19.138.71 secret "REDACTED"
">set system radius-server 172.19.138.71 secret "REDACTED"
: </label>
            </div>
            <div class="column">
                <div class="field">
                    <p class="control">
                        <input class="input is-primary" type="text" id="set system radius-server 172.19.138.71 secret "REDACTED"
" name="set system radius-server 172.19.138.71 secret "REDACTED"
">
                    </p>
                </div>
            </div>
        </div>
        
        <div class="columns">
            <div class="column is-one-half">
                <label for="set system radius-server 172.19.138.71 source-address ############## -------------------> Loopback IP
">set system radius-server 172.19.138.71 source-address ############## -------------------> Loopback IP
: </label>
            </div>
            <div class="column">
                <div class="field">
                    <p class="control">
                        <input class="input is-primary" type="text" id="set system radius-server 172.19.138.71 source-address ############## -------------------> Loopback IP
" name="set system radius-server 172.19.138.71 source-address ############## -------------------> Loopback IP
">
                    </p>
                </div>
            </div>
        </div>
        
        <div class="columns">
            <div class="column is-one-half">
                <label for="set system radius-server 172.18.5.23 secret "REDACTED"
">set system radius-server 172.18.5.23 secret "REDACTED"
: </label>
            </div>
            <div class="column">
                <div class="field">
                    <p class="control">
                        <input class="input is-primary" type="text" id="set system radius-server 172.18.5.23 secret "REDACTED"
" name="set system radius-server 172.18.5.23 secret "REDACTED"
">
                    </p>
                </div>
            </div>
        </div>
        
        <div class="columns">
            <div class="column is-one-half">
                <label for="set system radius-server 172.18.5.23 source-address ############## -------------------> Loopback IP
">set system radius-server 172.18.5.23 source-address ############## -------------------> Loopback IP
: </label>
            </div>
            <div class="column">
                <div class="field">
                    <p class="control">
                        <input class="input is-primary" type="text" id="set system radius-server 172.18.5.23 source-address ############## -------------------> Loopback IP
" name="set system radius-server 172.18.5.23 source-address ############## -------------------> Loopback IP
">
                    </p>
                </div>
            </div>
        </div>
        
            <div class="control" style="padding-top: 1vh">
                <button class="button is-link is-light" id="submit_button">Submit</button>
            </div>
        </form>
    </div>
</body>
</html>
    